[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
chromadb = "*"
gpt4all = "*"
streamlit = "*"
unstructured = "*"

[dev-packages]

[requires]
python_version = "3.11"
